<% layout('layouts/boilerplate') -%>

    <section>
        <div style="
    width: 100%;
    height: 663px;
    top: 134px;
    background-color:#F2F0F1;">
                <h1 style="height: 10px;
        width: 30px;
        margin: auto auto;">Slider</h1>
        </div>
    </section>

    <section class="mt-3 mb-3 pb-5 border-bottom">
        <h1 class="text-center p-2 fw-bolder">NEW ARRIVALS</h1>
        <div class="container text-center">
            <div class="row p-3">
                <% for(Product of Products){ %>
                    <div class="col-sm-3 mb-2">
                        <div class="card product-card" style="border: none;"
                            onclick="location.href='/product/<%= Product._id %>'">
                            <img src="<%=Product.image%>" class="product-img mb-3" alt="...">
                            <h3 class="text-start">
                                <%=Product.name%>
                            </h3>

                            <p class="card-text text-start">Some quick example text to build on the card title and
                                make
                                up
                                the bulk
                                of the card's content.</p>

                            <h3 class="text-start">$ <%=Product.price%>
                            </h3>
                        </div>
                    </div>
                    <% } %>
            </div>
        </div>

        <button class="border border-black p-2 rounded-pill mx-auto" style="width: 9em; display: block;">view all
            </h1>
    </section>

    <section class="mt-3 mb-3 pb-5">
        <h1 class="text-center p-2 fw-bolder">TOP SELLING</h1>
        <div class="container text-center">
            <div class="row p-3">
                <% for(Product of Products){ %>
                    <div class="col-sm-3 mb-2">
                        <div class="card product-card" style="border: none;"
                            onclick="location.href='/product/<%= Product._id %>'">
                            <img src="<%=Product.image%>" class="product-img mb-3" alt="...">
                            <h3 class="text-start">
                                <%=Product.name%>
                            </h3>

                            <h3 class="text-start">$ <%=Product.price%>
                            </h3>
                        </div>
                    </div>
                    <% } %>
            </div>
        </div>

        <button class="border border-black p-2 rounded-pill mx-auto" style="width: 9em; display: block;">view all
            </h1>
    </section>