<% layout('layouts/boilerplate') -%>

    <section>
        <div class="container text-center">
            <div class="row p-3">
                <div class="col">
                    <img src="<%=product.image%>" style="width:444px; height:530px; border-radius:20px;" />
                </div>
                <div class="col p-2">
                    <h2 class="text-start">
                        <%=product.name%>
                    </h2>
                    <h3 class="text-start">$ <%=product.price%>
                    </h3>
                    <p class="text-start">
                        <%=product.description%>
                    </p>
                    <div class="border-top p-2 mt-2">
                        <h4 class="text-start mb-3 fw-bold">Select Colors</h4>
                        <div class="d-flex justify-content-around" style="width:40%;">
                            <div class="rounded-circle"
                                style="border:1px solid black; width:2em; height:2em; background-color:#023047; cursor:pointer;">
                            </div>
                            <div class="rounded-circle"
                                style="border:1px solid black; width:2em; height:2em; background-color:#588157; cursor:pointer;">
                            </div>
                            <div class="rounded-circle"
                                style="border:1px solid black; width:2em; height:2em; background-color:#fff3b0; cursor:pointer;">
                            </div>
                            <div class="rounded-circle"
                                style="border:1px solid black; width:2em; height:2em; background-color:#78290f; cursor:pointer;">
                            </div>
                        </div>
                    </div>
                    <div class="border-top border-bottom p-2 mt-2">
                        <h4 class="text-start mb-3">Choose Size</h4>
                        <div class="d-flex justify-content-between" style="width:60%;">
                            <button class="btn rounded-pill" style="background-color:#F0F0F0;">Small</button>
                            <button class="btn rounded-pill" style="background-color:#F0F0F0;">Medium</button>
                            <button class="btn rounded-pill" style=" background-color:#F0F0F0;">Large</button>
                            <button class="btn rounded-pill" style=" background-color:#F0F0F0;">X-Large</button>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between p-3 mt-3" style="width: 90%;">
                        <div class="rounded-pill d-flex justify-content-around p-1 align-items-center"
                            style="width: 35%; background-color:#F0F0F0;">
                            <span class="fw-bold" id="add" style="cursor:pointer;"><i
                                    class="fa-solid fa-plus"></i></span>
                            <p class="mb-0" id="number-of-items">1</p>
                            <span class="fw-bold" id="sub" style="cursor:pointer;"><i
                                    class="fa-solid fa-minus"></i></span>
                        </div>
                        <button id="add-to-cart" class="btn btn-success rounded-pill" style="width: 55%;">
                            Add to cart <i class="fa-solid fa-cart-plus fa-bounce"></i>
                        </button>
                    </div>
                    <div class="p-5 d-flex justify-content-around border-top mt-3">
                        <button class="btn btn-dark rounded">
                            <i class="fa-solid fa-heart"></i> Add to Wishlist
                        </button>
                        <% if(product.manufacturer.toString()===user._id) {%>
                            <button class="btn btn-danger rounded">
                                <i class="fa-solid fa-trash"></i> Delete
                            </button>
                            <button class="btn btn-info rounded">
                                <i class="fa-regular fa-pen-to-square"></i> Edit
                            </button>
                            <% } %>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mt-5 p-5 about-product">
        <ul class="d-flex p-2 pb-0 border-bottom justify-content-around" style="list-style: none;">
            <li class="text-center" style="cursor:pointer;  width: 34%;" id="product-details">
                <h4>Product Details</h4>
            </li>
            <li class="active text-center" style="cursor:pointer; width: 32%;" id="product-rating-and-review">
                <h4>Rating & Review</h4>
            </li>
            <li class="text-center" style="cursor:pointer; width: 34%;" id="product-faqs">
                <h4>FAQs</h4>
            </li>
        </ul>

        <!-- product detail section -->
        <section id="product-details-section" style="display: none">
            <h1>Product Details</h1>
            <div>
                new products
            </div>
        </section>


        <!-- review and rating section -->
        <section id="rating-and-review-section" style="display: block">
            <div class="d-flex p-2 justify-content-between">
                <div>
                    <h3 class="fw-bolder">
                        All Reviews <span class="fs-5 fw-normal">( <%= product.reviews.length %> )</span>
                    </h3>
                </div>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-dark rounded-pill" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop">
                    Write a Review
                </button>

                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-bs-keyboard="false" tabindex="-1"
                    aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">

                            <div class="modal-body">
                                <form action="<%=product._id%>/review" method="post" id="ratingForm">
                                    <div class="mb-3">
                                        <!-- <label for="rating" class="form-label">Rating</label>
                                        <input type="range" class="form-range" min="0" max="5" id="rating"> -->
                                        <fieldset class="starability-slot">
                                            <legend class="fs-4 fw-bold">Rating</legend>
                                            <input type="radio" id="no-rate" class="input-no-rate" name="rating"
                                                value="0" checked aria-label="No rating." />
                                            <input type="radio" id="first-rate1" name="rating" value="1" />
                                            <label for="first-rate1" title="Terrible">1 star</label>
                                            <input type="radio" id="first-rate2" name="rating" value="2" />
                                            <label for="first-rate2" title="Not good">2 stars</label>
                                            <input type="radio" id="first-rate3" name="rating" value="3" />
                                            <label for="first-rate3" title="Average">3 stars</label>
                                            <input type="radio" id="first-rate4" name="rating" value="4" />
                                            <label for="first-rate4" title="Very good">4 stars</label>
                                            <input type="radio" id="first-rate5" name="rating" value="5" />
                                            <label for="first-rate5" title="Amazing">5 stars</label>
                                        </fieldset>
                                    </div>
                                    <div class="mb-3">
                                        <label for="comment" class="form-label fs-4 fw-bold">Review</label>
                                        <textarea type="text" rows="3" class="form-control" id="comment" name="comment"
                                            required></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Add</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <% if(product.reviews.length===0) { %>
                <h1>No Reviews Available</h1>
                <% } else { %>
                    <div class="row">
                        <% for(let review of product.reviews){ %>
                            <div class="col-sm-6 p-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <% for(let i=1 ; i <=5 ; i++){ %>
                                                <% if(i <=review.rating){ %>
                                                    <i class="fa-solid fa-star" style="color: #ffd60a;"></i>
                                                    <% }else{ %>
                                                        <i class="fa-solid fa-star"></i>
                                                        <% } %>
                                                            <% } %>
                                                                <% if(product.manufacturer.toString()===user._id
                                                                    ||review.user.toString()===user._id) {%>
                                                                    <a class="float-end"
                                                                        href="/product/<%=product._id%>/review"
                                                                        method="post"><i class="fa-solid fa-trash"
                                                                            style="color: #ff0000;"></i></a>
                                                                    <% } %>
                                        </h5>
                                        <p class="card-text">
                                            <%=review.comment%>
                                        </p>

                                        <p>
                                            Posted on <span style="color:green;">
                                                <%=review.updatedAt.toDateString()%>
                                            </span>
                                        </p>

                                    </div>
                                </div>
                            </div>
                            <% } %>
                    </div>
                    <% } %>

        </section>

        <!-- faqs section -->
        <section id="faqs-section" style="display: none">
            <h1>FAQs</h1>
        </section>

    </section>



    <script type="module" src="/js/products/showProduct.js" defer></script>